html, body {
    margin: 0;
}
.body {
    margin: 0 400px;
}
.list {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-right: 30px;
}
.classic {
    flex: 2;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.flex {
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
}
.a {
    margin: auto 20px auto;
    font-size: 20px;
    text-transform: uppercase;
}
.a1 {
    margin-right: 80%;
}
.header {
    width: 100%;
    height: 50px;
    border-bottom:1px solid rgb(219, 210, 210);
    font-size: 20px;
}
.header--ul {
    list-style-type: none;
}
.header--ul--li {
    float: left;
    margin: 10px 20px;
    font-weight: 200;
}
.header--ul--li:last-child {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.header--ul--li:first-child {
    margin-left: 50%;
}
/* header body */
.body__text {
    margin: 60px 0 20px;
    text-align: center;
}
.b {
    font-weight: 900;
    font-size: 50px;
}
.c {
    margin-left: 100px;
    margin-bottom: 50px;
}
.c1 {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.c2 {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.body__footer {
    width: 100%;
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid rgb(194, 185, 185);
}
.comment {
    float: left;
    margin-right: 30px;
    margin-top: 40px;
}
.comment-c {
    width: 850px;
}
.comment-c1 {
    width: 680px;
}
.footer {
    display: flex;
}
.footer--1, 
.footer--3 {
    flex:1;
}
.footer--2 {
    flex: 2;
}
.footer__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
}
.e {
    margin-top: 30px;
    float: right;
}
.footer--2--style {
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}
.footer--4 {
    width: 100%;
    height: 100px;
    border-bottom:1px solid black;
}
.h {
    border: 1px solid rgb(213, 209, 209);
}